@media (max-width:1399.98px) {

  /* new added css */
  .big_news_slider_widget .slider_item img {
    height: 283px !important;
  }

  .medium_news_widget .image img {
    height: 168px;
  }

  .news_sidebar .sidebar_widget .live_tv img {
    border-radius: 5px;
    height: 133px;
  }

  .medium_news_widget_2 .image img {
    height: 269px !important;
  }

  .medium_news_widget_3 .image img {
    height: 127px !important;
  }

  .medium_news_widget_4 .image img {
    height: 290px !important;
  }

  .medium_news_widget_6 .image img {
    height: 122px !important;
  }

  .photo_gallery_widget .small-image img {
    height: 93px !important;
  }

  .news_details_page .news-details-big-image .image {
    height: 440px;
  }
}

@media (max-width:1199.98px) {
  .main_menu .menu ul li+li {
    margin-left: 15px;
  }

  .main_menu .menu ul li a {
    color: var(--black);
    line-height: 55px;
    font-size: 16px;
  }

  .big_news_slider_widget .slider_item .news_title {
    font-size: 22px;
  }

  .section_title .main_title {
    font-size: 20px;
  }

  footer .tags ul li {
    margin: 0 10px;
    margin-bottom: 15px;
  }

  /* new added */
  .medium_news_widget .image img {
    height: 190px !important;
  }

  .big_news_slider_widget .slider_item img {
    height: 320px !important;
  }

  .news_sidebar .sidebar_widget .live_tv img {
    height: 245px !important;
  }

  .medium_news_widget .image img {
    height: 139px !important;
  }

  .medium_news_widget_2 .image img {
    height: 315px !important;
  }

  .news_with_overlay_text .image img {
    height: 180px !important;
  }

  .medium_news_widget_4 .image img {
    height: 285px !important;
  }

  .medium_news_widget_6 .image img {
    height: 100px !important;
  }

  .news_details_page .news-details-big-image .image {
    height: 500px;
  }
}

@media (max-width:991.98px) {
  .top_header .short_info {
    justify-content: flex-start !important;
    margin-top: 10px;
  }

  .main_menu .menu ul li a {
    font-size: 17px;
    width: 100%;
    display: block;
  }

  .main_menu .menu ul li a i {
    float: right;
    position: relative;
    top: 22px;
  }

  .main_menu .menu ul li a .home i {
    font-size: 18px;
    float: unset;
    position: unset;
  }

  .main_menu .menu ul li a {
    color: var(--black);
    line-height: 45px;
    font-size: 16px;
  }

  .section_title .main_title {
    font-size: 24px;
  }

  .main_menu {
    border-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    margin-left: -300px;
    transition: all 0.3s ease-out 0s;
  }

  .main_menu .menu ul li {
    display: block;
    width: 100%;
  }

  .main_menu .menu ul li+li {
    margin-left: 0;
  }

  .main_menu .menu {
    padding: 20px;
    width: 100%;
  }

  .mobile_menu_bar {
    margin-left: 50px;
  }

  .mobile_menu_bar i {
    width: 40px;
    height: 40px;
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    cursor: pointer;
    transition: all linear 0.2s;
    border-radius: 3px;
  }

  .main_menu.active {
    margin-left: 0;
  }

  .middle_header {
    padding-top: 5px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    background-color: #f2f2f2;
  }

  .main_menu .menu ul li a {
    font-size: 17px;
  }

  .sub-menu {
    min-width: 215px;
  }

  .header.sticky-menu .middle_header {
    display: block;
  }

  .middle_header {
    margin: 0;
  }

  .big_news_slider_widget .slider_item img {
    height: 377px !important;
  }

  .medium_news_widget .image img {
    height: 207px !important;
  }

  .photo_gallery_widget .large-image .image-item img {
    height: 385px !important;
  }

  .news_details_page .news-details-big-image .image {
    height: 400px;
  }
}

@media (max-width:767.98px) {
  .news_with_overlay_text .news_title {
    font-size: 18px;
  }

  .big_news_slider_widget .slider_item img {
    height: 298px !important;
  }

  .medium_news_widget .image img {
    height: 165px !important;
  }

  .news_with_overlay_text .image img {
    height: 220px !important;
  }

  .photo_gallery_widget .large-image .image-item img {
    height: 282px !important;
  }

  .photo_gallery_widget .small-image img {
    height: 62px !important;
  }

  .news_details_page .news_details_title h1 {
    font-size: 30px;
  }

  .news_details_page .news-details-big-image .image {
    height: 350px;
  }
}

@media (max-width:575.98px) {
  .big_news_slider_widget .slider_item .news_title {
    font-size: 17px;
  }

  .medium_news_widget .text .news_title {
    font-size: 17px;
  }

  .big_news_slider_widget .slider_item img {
    height: auto !important;
  }

  .medium_news_widget .image img {
    height: auto !important;
  }

  .news_sidebar .sidebar_widget .live_tv img {
    height: auto !important;
  }

  .news_with_overlay_text .image img {
    height: auto !important;
  }

  .photo_gallery_widget .large-image .image-item img {
    height: auto !important;
  }

  .photo_gallery_widget .small-image img {
    height: auto !important;
  }

  footer .footer_widget .widget_image .image img {
    height: auto;
    width: 100px;
  }

  .news_details_page .news_details_title h1 {
    font-size: 24px;
  }

  .news_details_page .news-details-big-image .image {
    height: auto;
  }

  .news_details_page .author {
    display: block !important;
    text-align: center;
  }

  .news_details_page .author .image {
    margin: 0 auto;
  }

  .news_details_page .info {
    margin-left: 0;
    margin-top: 20px;
  }
}